html, body {
    margin: 0;
    padding: 0;
    background-color:#C1E1C1; 
}

.main-header { 
    color: #000000; 
    padding: 20px; 
    text-align: center; 
    font-family: 'Playfair Display', serif;
}

.title {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
}

.subtitle {
    text-align: center;
    margin: 0;
    font-size: 1.5em; 
}

.description {
    font-size: 1.2em; 
    text-align: center;
    margin: 10px; 
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin: 20px auto; 
    gap: 20px; 
}

.card {
    max-width: 300px; 
    max-height: 300px; 
    width: auto; 
    height: auto; 
    display: none;
    perspective: 1000px;
    margin: 40px;
    gap: 10px; /
    margin-right: 20px; 
    margin-bottom: 170px; 
}

.card img {
    max-width: 250px; 
    max-height: 250px; 
    width: auto; 
    height: auto; 
    border-radius: 5px; 
    margin: 0 auto; 
}

.card-content {
    position: relative;
    width:80%; 
    height:auto;
    transform-style: preserve-3d; 
    background-color: #fff8dc; 
    color: black;
    border-radius: 5px; 
    padding: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content h2 {
    margin-top: 0;
    font-size: 20px;
    text-align: center;
}

.card-content .features,
.card-content .project-link {
    font-size: 15px; 
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px;
}

footer img {
    max-width: 50px; 
    height: auto; 
    margin: 0 10px; 
}